<h1>Stocks</h1>
<div class="form" data-turbo ="false"><!-- Wrap form in a div and add 'data-turbo ="false"' to stop Turbo running on this element -->
<%= form_tag root_path, :method => 'POST' do %>
<%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
<%= submit_tag 'Lookup' %>
<% end %>
</div>
<br/>

<% if @stock %>
    <%= @stock.company_name %>
    <br/>
    <%= @stock.latest_price %>
    <br/>
    <!-- Print error message from home_controller.rb if no ticker symbol is entered -->
<% elsif @no_value %>
    <%= @no_value %>
<% end %>
     <!-- Print error message from home_controller.rb if non-existent ticker symbol is entered -->
<% if @error %>
    <%= @error %>
<% end %>